.header,
.form {
  text-align: center;
}

.Main-form {
  width: 900px;
  margin: 20px auto;
  background-color: cornsilk;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
